<div class="border bg-light p-2 mb-2">
  <p class="word_wrap"><%= comment.body %></p>
  <p class="d-inline">
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= simple_format h(comment.user_name) %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
  </p>
  <p class="d-inline">
    <% if policy(comment).destroy? %>
      <%= button_to fa_icon('trash-fill'), event_comment_path(comment.event, comment),
                    form: {data: {turbo_confirm: t('views.comments.destroy_confirm')}},
                    method: :delete, class: 'btn', form_class: 'd-inline float-end'
      %>
    <% end %>
  </p>
</div>