<%= form_for @user, data: {turbo: false}, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-floating mb-3">
    <%= f.text_field :name, autofocus: true, autocomplete: "name",
                     placeholder: t('views.devise.name'), id: "floatingInput", class: "form-control" %>
    <%= f.label :name, for: "floatingInput" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                      placeholder: t('views.devise.email'), id: "floatingInput", class: "form-control" %>
    <%= f.label :email, for: "floatingInput" %>
  </div>

  <div class="form-control mb-3">
    <%= f.label :avatar, class: "form-label", for: "imageFile" %>
    <p><%= image_tag user_avatar_thumb(@user) %></p>
    <%= f.file_field :avatar, type: "file", class: "form-control", id: "imageFile" %>
  </div>

  <div class="actions mb-3">
    <%= f.submit t('views.users.save'), class: 'btn btn-info' %> или <%= link_to t('views.users.back'), :back %>
  </div>

<% end %>
