<div class="row justify-content-center">
  <div class="col-md-6">
    <h3 class='text-center mb-5'><%= t('views.events.pincode_only') %></h3>
    <%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do |f| %>
      <div class='form-floating mb-3'>
        <%= text_field_tag :pincode, params[:pincode], id: "floatingInput", class: 'form-control', placeholder: t('views.events.pincode') %>
        <%= label_tag :pincode, t('views.events.pincode'), for: "floatingInput" %>
      </div>

      <div class='actions mb-2'>
        <%= submit_tag t('views.events.enter'), class: 'btn btn-info mb-3' %>
      </div>
    <% end %>
    <%= link_to t('views.events.to_main'), events_path, class: 'btn btn-warning mb-3' %>
  </div>
</div>