<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light mb-5">
    <div class="container">
      <%= link_to 'BBQ', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <% if user_signed_in? %>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Профиль', current_user, class: 'nav-link active', data: { turbo: false }%>
            </li>
            <li class="nav-item">
              <%= link_to 'Выйти', destroy_user_session_path, class: 'nav-link active', data: { turbo_method: :delete } %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Вход', new_user_session_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Регистрация', new_user_registration_path, class: 'nav-link active' %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <footer class="mt-5">
      <p>&copy; Company 2022</p>
    </footer>
  </div>
  </body>
</html>